In [33]:
import pandas as pd


labels = pd.read_csv('label_list.csv', delimiter='|')

head_info_csv = pd.read_csv('head_info.csv')  # Adjust file name if necessary
new_column_names = list(head_info_csv.columns)  # Extract column names

#labels.columns = new_column_names


print(labels.head())

/var/folders/xb/p06xbbjd15jgl24lj7_lcyk40000gn/T/ipykernel_54820/3845638128.py:4: DtypeWarning: Columns (3,5,6,7,10,12,13,15,17,19,20,21,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  labels = pd.read_csv('label_list.csv', delimiter='|')

  Gustave Courbet                Woman With A Parrot##AAHozJAL0gqXcA  \
0   Auguste Rodin         La Tentation Saint Antoine##WAGC82imJTDyIg
1     Frida Kahlo   Retrato De Alejandro Gómez Arias##0QFuguLe4xyN_A
2          Banksy           The Wall Banksy Balloons##FgHoVE-hmt6DBQ
3        El Greco                     The Visitation##HQEQ_qXDtRrzkA
4        El Greco  Madonna And Child With Saint Martina And Saint...

  http://lh3.googleusercontent.com/nPuY2uKye4csy5XdoAjLo9BBL-vz7MKcBLZPuqRFJGai6bDgzoiaXVYa-E0JIzELwQ  \
0  http://lh3.googleusercontent.com/CgGN-xuGOgzBu...
1  http://lh3.googleusercontent.com/j-stBr_Q1mblB...
2  http://lh4.ggpht.com/DajPMSanJJDk7gPghfEqoT5Ru...
3  http://lh4.ggpht.com/dYGuyZERVymx98N9Uw3KKvOU6...
4  http://lh3.googleusercontent.com/jw0pUXDGst1J4...

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  Painting  \
0        NaN        NaN        NaN        NaN        NaN       NaN
1        NaN        NaN        NaN        NaN        NaN       NaN
2        NaN        NaN        NaN        NaN        NaN       NaN
3        NaN        NaN        NaN        NaN        NaN  Painting
4        NaN        NaN        NaN        NaN        NaN       NaN

      Unnamed: 9  ... Unnamed: 17  \
0            NaN  ...         NaN
1            NaN  ...         NaN
2            NaN  ...         NaN
3  ca. 1610-1614  ...         NaN
4            NaN  ...         NaN

                                         Unnamed: 18 Unnamed: 19 Unnamed: 20  \
0                                                NaN         NaN         NaN
1                                                NaN         NaN         NaN
2                                                NaN         NaN         NaN
3                                                NaN         NaN         NaN
4  overall: 193.5 x 103 cm (76 3/16 x 40 9/16 in....         NaN         NaN

  Unnamed: 21                                        Unnamed: 22 Unnamed: 23  \
0         NaN  Acquis de  Rodin Auguste en 1903 avec l'aide d...         NaN
1         NaN                                                NaN         NaN
2         NaN                                                NaN         NaN
3         NaN                                                NaN         NaN
4         NaN                                                NaN         NaN

  Unnamed: 24  a879f41367c6a8d5e29d697975b7a5e6  \
0         NaN  66a5a8ea2997d2e05a330c7d3ba1039c
1         NaN  5f7631ea56002b27cd3e07556a38fa6a
2         NaN  c012f1c9fe9e818180f6f7692fedde2d
3         NaN  a915030494f019b88b443d39f941003d
4         NaN  e278965ada95a26867b0148ee85c7da4

  Artists1/Gustave Courbet/Woman With A Parrot##AAHozJAL0gqXcA.jpg
0  Artists1/Auguste Rodin/La Tentation Saint Anto...
1  Artists1/Frida Kahlo/Retrato De Alejandro Góme...
2  Artists1/Banksy/The Wall Banksy Balloons##FgHo...
3  Artists1/El Greco/The Visitation##HQEQ_qXDtRrz...
4  Artists1/El Greco/Madonna And Child With Saint...

[5 rows x 27 columns]

In [8]:
nan_count = labels['Unnamed: 9'].isna().sum()  # Count NaN values
non_nan_count = labels['Unnamed: 9'].notna().sum()  # Count non-NaN values

print(f"NaN values in 'Unnamed: 9': {nan_count}")
print(f"Non-NaN values in 'Unnamed: 9': {non_nan_count}")

NaN values in 'Unnamed: 9': 401837
Non-NaN values in 'Unnamed: 9': 359437

In [28]:
#By style
#genre_labels = labels[labels['Unnamed: 3'].notna()]
style_labels = labels[labels['Unnamed: 4'].notna()]
style_labels.columns = list(range(style_labels.shape[1] - 1)) + ["path"]

columns_to_keep = [4, 'path']
style_labels_filtered = style_labels[columns_to_keep]
style_labels_filtered = style_labels_filtered.rename(columns={4: 'style'})
style_labels_filtered = style_labels_filtered[style_labels_filtered['path'].notna()]


print(style_labels_filtered)

                                         style  \
16099                                  Italian
16101            Early Renaissance/ Altarpiece
26885   Art of the Counter Reform / Altarpiece
31608                        Gotic/ Altarpiece
31935                                  Italian
...                                        ...
612145           MAC - Movimento Arte Concreta
613217                     Analytical painting
613377                     Abstract naturalism
614187           MAC - Movimento Arte Concreta
614306                             Abstraction

                                                     path
16099   Artists1/Fra Angelico/The Last Judgement Winge...
16101   Artists1/Fra Angelico/Coronation Of The Virgin...
26885   Artists1/Federico Barocci/Madonna Of The Peopl...
31608   Artists1/Ambrogio Lorenzetti/Madonna And Child...
31935   Artists1/Giovanni Antonio Boltraffio/The Resur...
...                                                   ...
612145    Artists1/Canvas/Composition##sQGvow2jsNnw7w.jpg
613217          Artists1/Canvas/A 158##6QGFhNIqGT0VQw.jpg
613377  Artists1/Oil paint/Composition##TgFLdTbBmHkYjw...
614187  Artists1/Canvas/Pulled Space Structure##ygFYYM...
614306  Artists1/Canvas/Can We Turn Our Rage To Poetry...

[11623 rows x 2 columns]

In [30]:
'''
#applying style
category_keywords = {
    "Renaissance": ["renaissance", "reanaissance", "reinassance"],
    "Baroque": ["baroque"],
    "Gothic": ["gotic", "gothic"],
    "Abstract": ["abstract"],
    "Impressionism": ["impressionism", "impresionism"],
    "Expressionism": ["expressionism"],
    "Surrealism": ["surrealism"],
    "Romanticism": ["romanticism"],
    "Realism": ["realism"],
    "Modernism": ["modernism", "modernisme"],
    "Neoclassicism": ["neoclassicism"],
    "Cubism": ["cubism"],
    "Symbolism": ["symbolism"],
    "Flemish": ["flemish", "flamish"],
    "Dutch": ["dutch"],
    "French": ["french"],
    "Italian": ["italian"],
    "Spanish": ["spanish"],
    "German": ["german"],
    "Japanese": ["ware", "raku", "karatsu", "mino", "seto", "satsuma"],
    "Chinese": ["qingbai", "longquan", "dehua", "yixing"],
    "Photography": ["photography"],
    "Sculpture": ["sculpture"],
    "Conceptual Art": ["conceptual art"],
    "Public Art": ["public art"],
    "Installation": ["installation"],
    "Performance": ["performance"]
}

def classify_style(style, category_keywords):
    style_lower = style.lower()  # Make the search case-insensitive
    for category, keywords in category_keywords.items():
        for keyword in keywords:
            if keyword in style_lower:
                return category
    return "Other"  # Default category for unmatched styles

    import pandas as pd



# Apply the classification function
style_labels_filtered["category"] = style_labels_filtered["style"].apply(classify_style, args=(category_keywords,))

print(style_labels_filtered)
'''

                                         style  \
16099                                  Italian
16101            Early Renaissance/ Altarpiece
26885   Art of the Counter Reform / Altarpiece
31608                        Gotic/ Altarpiece
31935                                  Italian
...                                        ...
612145           MAC - Movimento Arte Concreta
613217                     Analytical painting
613377                     Abstract naturalism
614187           MAC - Movimento Arte Concreta
614306                             Abstraction

                                                     path     category
16099   Artists1/Fra Angelico/The Last Judgement Winge...      Italian
16101   Artists1/Fra Angelico/Coronation Of The Virgin...  Renaissance
26885   Artists1/Federico Barocci/Madonna Of The Peopl...        Other
31608   Artists1/Ambrogio Lorenzetti/Madonna And Child...       Gothic
31935   Artists1/Giovanni Antonio Boltraffio/The Resur...      Italian
...                                                   ...          ...
612145    Artists1/Canvas/Composition##sQGvow2jsNnw7w.jpg        Other
613217          Artists1/Canvas/A 158##6QGFhNIqGT0VQw.jpg        Other
613377  Artists1/Oil paint/Composition##TgFLdTbBmHkYjw...     Abstract
614187  Artists1/Canvas/Pulled Space Structure##ygFYYM...        Other
614306  Artists1/Canvas/Can We Turn Our Rage To Poetry...     Abstract

[11623 rows x 3 columns]

In [31]:
'''
#examine classifications
other_styles = style_labels_filtered[style_labels_filtered["category"] == "Other"]
print("Styles classified as 'Other':")
print(other_styles)
'''

Styles classified as 'Other':
                                         style  \
26885   Art of the Counter Reform / Altarpiece
32745              Northern Netherlands School
32809              Northern Netherlands School
34203              Northern Netherlands School
55406                     American Regionalism
...                                        ...
610449         spiritual painting - Meditation
612108                              Spatialism
612145           MAC - Movimento Arte Concreta
613217                     Analytical painting
614187           MAC - Movimento Arte Concreta

                                                     path category
26885   Artists1/Federico Barocci/Madonna Of The Peopl...    Other
32745   Artists1/Willem van Aelst/Still Life With Poul...    Other
32809   Artists1/Aert van der Neer/River View By Moonl...    Other
34203   Artists1/Johannes Cornelisz Verspronck/Portrai...    Other
55406   Artists1/Edna Reindel/Lockheed Worker Working ...    Other
...                                                   ...      ...
610449     Artists1/Canvas/Meditation##9wGGmVOM4Guxzg.jpg    Other
612108      Artists1/Canvas/Naissance##nwFHH0lCGe1_XQ.jpg    Other
612145    Artists1/Canvas/Composition##sQGvow2jsNnw7w.jpg    Other
613217          Artists1/Canvas/A 158##6QGFhNIqGT0VQw.jpg    Other
614187  Artists1/Canvas/Pulled Space Structure##ygFYYM...    Other

[684 rows x 3 columns]

In [32]:
'''
category_counts = style_labels_filtered["category"].value_counts()
print("\nCount of each category:")
print(category_counts)
'''

Count of each category:
Japanese          10139
Other               684
Photography         133
Surrealism          108
Gothic              100
Renaissance          83
Baroque              73
Italian              51
Impressionism        46
French               37
Abstract             30
Realism              25
Cubism               22
Modernism            18
Conceptual Art       18
Flemish              13
Neoclassicism         8
Dutch                 8
Expressionism         5
German                5
Spanish               4
Symbolism             4
Installation          3
Sculpture             2
Public Art            2
Romanticism           2
Name: category, dtype: int64

In [37]:
#through some eda, a significant portion of this data is japanese/chinese art (keyword "ware" which can be used in both)
#thus rather than classify by style we will use dates

#By date
#genre_labels = labels[labels['Unnamed: 3'].notna()]

year_labels = labels
year_labels.columns = list(range(year_labels.shape[1] - 1)) + ["path"]
year_labels = labels[labels[9].notna()]
columns_to_keep = [9, 'path']
year_labels_filtered = year_labels[columns_to_keep]
year_labels_filtered = year_labels_filtered.rename(columns={9: 'date'})
#style_labels_filtered = style_labels_filtered[style_labels_filtered['path'].notna()]


print(year_labels_filtered)

                 date                                               path
3       ca. 1610-1614  Artists1/El Greco/The Visitation##HQEQ_qXDtRrz...
44          1745/1806  Artists1/Gim Hongdo/Ducks In Winter##lAHeyXhD5...
49               1867  Artists1/Albert Bierstadt/Emigrants Crossing T...
53               1922  Artists1/Wassily Kandinsky/Blau Blue##2QHHVlpW...
57            1937-04  Artists1/Margaret Bourke-White/Muncie Indiana ...
...               ...                                                ...
761255           1923                                                NaN
761270           1935                                                NaN
761271           1934                                                NaN
761272           1930                                                NaN
761273           1915                                                NaN

[359437 rows x 2 columns]

In [57]:
import re

def extract_century(date_str):
    # lower-case date strings
    date_str = date_str.lower()

    # handling 'century' formatting (bc, bce, etc.)
    century_match = re.search(r"(?:early|late)?\s*(\d{1,2})(?:st|nd|rd|th) century\s*(bc|bce|b\.c\.|b\.c\.e\.)?", date_str)
    if century_match:
        century = int(century_match.group(1))
        if century_match.group(2):  # If BCE variation is present
            return -century
        return century

    # handle plural formatting
    decade_match = re.search(r"(\d{2})00s", date_str)
    if decade_match:
        return int(decade_match.group(1))

    # extract 4 digit years from string
    years = re.findall(r"\b\d{4}\b", date_str)

    if not years:
        # handle bc
        bce_year_match = re.findall(r"(\d{1,4})\s*(bc|bce|b\.c\.|b\.c\.e\.)", date_str)
        if bce_year_match:
            earliest_year = min(int(y[0]) for y in bce_year_match)  # Take the earliest year in a range
            century = (earliest_year - 1) // 100 + 1
            return -century  # Negative century for BCE

        # handle date ranges with bc
        bce_range_match = re.search(r"(\d{1,4})\s*-\s*(\d{1,4})\s*(bc|bce|b\.c\.|b\.c\.e\.)", date_str)
        if bce_range_match:
            earliest_year = min(int(bce_range_match.group(1)), int(bce_range_match.group(2)))
            century = (earliest_year - 1) // 100 + 1
            return -century  # Negative century for BCE

        return None  # return none if no year found

    # convert first year to century
    first_year = int(years[0])
    century = (first_year - 1) // 100 + 1
    return century



# apply funciton on our dates column
year_labels_filtered["century"] = year_labels_filtered["date"].apply(extract_century)

print(year_labels_filtered)


#since were still missing some bc handling despite my best efforts, we will just add a manual fix for the bc values
year_labels_filtered["century"] = year_labels_filtered["century"].apply(lambda x: -x+1 if x is not None and x > 21 else x)

print(year_labels_filtered)

                 date                                               path  \
3       ca. 1610-1614  Artists1/El Greco/The Visitation##HQEQ_qXDtRrz...
44          1745/1806  Artists1/Gim Hongdo/Ducks In Winter##lAHeyXhD5...
49               1867  Artists1/Albert Bierstadt/Emigrants Crossing T...
53               1922  Artists1/Wassily Kandinsky/Blau Blue##2QHHVlpW...
57            1937-04  Artists1/Margaret Bourke-White/Muncie Indiana ...
...               ...                                                ...
761255           1923                                                NaN
761270           1935                                                NaN
761271           1934                                                NaN
761272           1930                                                NaN
761273           1915                                                NaN

        century
3          17.0
44         18.0
49         19.0
53         20.0
57         20.0
...         ...
761255     20.0
761270     20.0
761271     20.0
761272     20.0
761273     20.0

[359437 rows x 3 columns]
                 date                                               path  \
3       ca. 1610-1614  Artists1/El Greco/The Visitation##HQEQ_qXDtRrz...
44          1745/1806  Artists1/Gim Hongdo/Ducks In Winter##lAHeyXhD5...
49               1867  Artists1/Albert Bierstadt/Emigrants Crossing T...
53               1922  Artists1/Wassily Kandinsky/Blau Blue##2QHHVlpW...
57            1937-04  Artists1/Margaret Bourke-White/Muncie Indiana ...
...               ...                                                ...
761255           1923                                                NaN
761270           1935                                                NaN
761271           1934                                                NaN
761272           1930                                                NaN
761273           1915                                                NaN

        century
3          17.0
44         18.0
49         19.0
53         20.0
57         20.0
...         ...
761255     20.0
761270     20.0
761271     20.0
761272     20.0
761273     20.0

[359437 rows x 3 columns]

In [58]:
#looking at the below distribution, we can see that the data is heavily swayed towards more recent artwork, so I would propose doing one of the following
#classifying art from 14th century - modern
#classifying art by buckets
century_count = year_labels_filtered["century"].value_counts()

#print(century_count)

 20.0    251709
 19.0     40414
 21.0     20050
 18.0      8367
 17.0      7191
 16.0      5621
 15.0      4819
 14.0      1236
 13.0       606
 12.0       275
-4.0        215
-5.0        210
 11.0       175
-6.0        157
-3.0        125
-1.0        111
-12.0        94
 10.0        75
 2.0         62
-2.0         53
-7.0         50
 6.0         45
 8.0         39
 5.0         30
-14.0        30
-10.0        29
 4.0         28
 1.0         27
 7.0         27
-24.0        26
 3.0         26
-31.0        24
-39.0        23
-8.0         18
-16.0        13
 9.0         13
-32.0         9
-29.0         9
-11.0         8
-22.0         6
-9.0          6
-25.0         6
-46.0         4
-13.0         4
-59.0         3
-23.0         3
-21.0         2
-43.0         2
-26.0         2
-49.0         1
-33.0         1
-18.0         1
 0.0          1
Name: century, dtype: int64

In [62]:
#classifying the art by century buckets

# defining bucets
century_mapping = {
    "Ancient": range(-59, 10),   # Anything before the 10th century
    "Medieval": range(10, 15),   # 10th to 14th century
    "Renaissance": range(15, 17),  # 15th to 16th century
    "Baroque": range(17, 18),    # 17th century
    "Enlightenment": range(18, 19),  # 18th century
    "Modern": range(19, 21),     # 19th to 20th century
    "Contemporary": range(21, 22)  # 21st century
}

# assigning numeric label to each bucket
period_labels = {name: idx for idx, name in enumerate(century_mapping.keys())}


def map_century_to_period(century):
    try:
        century = int(century)  # Convert safely to int
        for period, centuries in century_mapping.items():
            if century in centuries:
                return period_labels[period]
    except (ValueError, TypeError):  # Catch NaN or unexpected values
        return None  # Return None if mapping fails
    return None  # Return None for unmapped centuries

# apply to mapping
year_labels_filtered["Period_Label"] = year_labels_filtered["century"].apply(map_century_to_period)

# drop rows where mapping failed 
year_labels_filtered = year_labels_filtered.dropna(subset=["Period_Label"]).reset_index(drop=True)

year_labels_filtered

,date,path,century,Period_Label
0,ca. 1610-1614,Artists1/El Greco/The Visitation##HQEQ_qXDtRrz...,17.0,3
1,1745/1806,Artists1/Gim Hongdo/Ducks In Winter##lAHeyXhD5...,18.0,4
2,1867,Artists1/Albert Bierstadt/Emigrants Crossing T...,19.0,5
3,1922,Artists1/Wassily Kandinsky/Blau Blue##2QHHVlpW...,20.0,5
4,1937-04,Artists1/Margaret Bourke-White/Muncie Indiana ...,20.0,5
...,...,...,...,...
342076,1923,NaN,20.0,5
342077,1935,NaN,20.0,5
342078,1934,NaN,20.0,5
342079,1930,NaN,20.0,5
342080,1915,NaN,20.0,5

In [67]:
#final cnn prep

year_labels_filtered = year_labels_filtered[year_labels_filtered['path'].notna()]

columns_to_keep = ['path', 'Period_Label']

year_labels_filtered = year_labels_filtered[columns_to_keep]
year_labels_filtered

                                                     path  Period_Label
0       Artists1/El Greco/The Visitation##HQEQ_qXDtRrz...             3
1       Artists1/Gim Hongdo/Ducks In Winter##lAHeyXhD5...             4
2       Artists1/Albert Bierstadt/Emigrants Crossing T...             5
3       Artists1/Wassily Kandinsky/Blau Blue##2QHHVlpW...             5
4       Artists1/Margaret Bourke-White/Muncie Indiana ...             5
...                                                   ...           ...
242314  Artists1/Canvas/The Adoration Of The Cross##Rg...             5
242315  Artists1/Canvas/Guardando A Sud##pwGrzs42YkNFS...             6
242316  Artists1/Canvas/Plan Of The Fortified City Of ...             5
242317  Artists1/Canvas/Pounding Rice##aAGUSavl4FAXYw.jpg             5
242318  Artists1/Canvas/Sutasoma The Prince Sutasoma##...             5

[242319 rows x 2 columns]

In [69]:
import os
import torch
from sklearn.model_selection import train_test_split

# change patb
image_folder = "/Users/aarongordon/Downloads/art500k/"


df = year_labels_filtered.copy()
#full path with folder name
df["Full_Path"] = df["path"].apply(lambda x: os.path.join(image_folder, x))

# drop nans
df = df.dropna(subset=["Period_Label"]).reset_index(drop=True)

# convert period label to int
df["Period_Label"] = df["Period_Label"].astype(int)

# 80/20 treain test split
train_df, test_df = train_test_split(df, test_size=0.2, stratify=df["Period_Label"], random_state=42)

# Convert to tensors
train_labels = torch.tensor(train_df["Period_Label"].values, dtype=torch.long)
test_labels = torch.tensor(test_df["Period_Label"].values, dtype=torch.long)

In [93]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.preprocessing import image
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Flatten, Dense, Dropout

def preprocess_image(self, image_path, target_size=(224, 224)):
    # Preprocess the image (resize and normalize)
    from tensorflow.keras.preprocessing import image
    img = image.load_img(image_path, target_size=target_size)
    img_array = image.img_to_array(img)
    img_array = np.expand_dims(img_array, axis=0)  # Add batch dimension (only one batch)
    img_array = img_array / 255.0  # Normalize image
    return img_array
    
# mult-class classification
model = Sequential([
    # first layer w padding
    Conv2D(32, (3, 3), padding='same', activation='relu', input_shape=(224, 224, 3)),  #resize images
    MaxPooling2D((2, 2)),  # max pooling

    # Second convolutional layer
    Conv2D(64, (3, 3), activation='relu'),
    MaxPooling2D((2, 2)),  # max pooling

    # flatten
    Flatten(),

    # fully connected layer
    Dense(128, activation='relu'),  # First hidden layer
    Dropout(0.5),  
    Dense(64, activation='relu'),  # Second hidden layer
    Dropout(0.5),  

    # output layer
    Dense(len(period_labels), activation='softmax')  # Output layer (one neuron per class)
])
'''
# Simplified CNN model for multi-class classification
model = Sequential([
    # First convolutional layer with padding
    Conv2D(32, (3, 3), padding='same', activation='relu', input_shape=(224, 224, 3)),  # Resize images to 224x224x3
    MaxPooling2D((2, 2)),  # Max pooling

    # Flatten
    Flatten(),

    # Output layer for multi-class classification
    Dense(len(period_labels), activation='softmax')  # Output layer (one neuron per class)
])
'''
# compile model
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# model summary
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_4 (Conv2D)           (None, 224, 224, 32)      896

 max_pooling2d_4 (MaxPooling  (None, 112, 112, 32)     0
 2D)

 flatten_2 (Flatten)         (None, 401408)            0

 dense_6 (Dense)             (None, 7)                 2809863

=================================================================
Total params: 2,810,759
Trainable params: 2,810,759
Non-trainable params: 0
_________________________________________________________________

In [ ]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.preprocessing.image import load_img, img_to_array
from sklearn.model_selection import train_test_split

# paramaters
image_size = (224, 224)  # target size for images
image_folder = "/Users/aarongordon/Downloads/art500k"  



# load and preprocess images
def load_and_preprocess_image(image_path):
    try:
        img = load_img(image_path, target_size=image_size)  
        img_array = img_to_array(img) / 255.0  # normalize image
        return img_array
    except Exception as e:
        print(f"Error loading {image_path}: {e}")
        return None  # handling for missing files (theres afew non-existent path names)

# load images
df['Full_Path'] = image_folder + "/" + df['path']

print("Loading images... This may take some time.")


images = [load_and_preprocess_image(path) for path in df['Full_Path']]
labels = df['Period_Label'].values  # Target labels

# remove none values
images = [img for img in images if img is not None]
labels = labels[:len(images)]  #ensure labels and image smatch
print(f"Successfully loaded {len(images)} images.")

#  convert to numpy array
X = np.array(images, dtype=np.float32)
y = np.array(labels, dtype=np.int32)  # Assuming labels are integers

# train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# train model
model.fit(X_train, y_train, epochs=10, validation_data=(X_test, y_test))

Loading images... This may take some time.
Error loading /Users/aarongordon/Downloads/art500k/Artists1/Margaret Bourke-White/Irving Air Chute Company Buffalo N Y Testing Shroud Lines Caterpillar Club Sign In Back So Called Because Caterpillar Furnishes The Silk It Is Sponsored By The Company A Gold Pin Shaped Like A Caterpillar Being Given A Diamond Is Added For Each J##ygGjl1_Goqwr4Q.jpg: [Errno 63] File name too long: '/Users/aarongordon/Downloads/art500k/Artists1/Margaret Bourke-White/Irving Air Chute Company Buffalo N Y Testing Shroud Lines Caterpillar Club Sign In Back So Called Because Caterpillar Furnishes The Silk It Is Sponsored By The Company A Gold Pin Shaped Like A Caterpillar Being Given A Diamond Is Added For Each J##ygGjl1_Goqwr4Q.jpg'
Error loading /Users/aarongordon/Downloads/art500k/Artists1/Margaret Bourke-White/Irving Air Chute Company Buffalo N Y Testing Shroud Lines Caterpillar Club Sign In Back So Called Because Caterpillar Furnishes The Silk It Is Sponsored By The Company A Gold Pin Shaped Like A Caterpillar Being Given A Diamond Is Added For Each J##zAH3XD8H1QV8Ew.jpg: [Errno 63] File name too long: '/Users/aarongordon/Downloads/art500k/Artists1/Margaret Bourke-White/Irving Air Chute Company Buffalo N Y Testing Shroud Lines Caterpillar Club Sign In Back So Called Because Caterpillar Furnishes The Silk It Is Sponsored By The Company A Gold Pin Shaped Like A Caterpillar Being Given A Diamond Is Added For Each J##zAH3XD8H1QV8Ew.jpg'
Error loading /Users/aarongordon/Downloads/art500k/Artists1/Margaret Bourke-White/Irving Air Chute Company Buffalo N Y Testing Shroud Lines Caterpillar Club Sign In Back So Called Because Caterpillar Furnishes The Silk It Is Sponsored By The Company A Gold Pin Shaped Like A Caterpillar Being Given A Diamond Is Added For Each J##YAGXsYtcgrJZvg.jpg: [Errno 63] File name too long: '/Users/aarongordon/Downloads/art500k/Artists1/Margaret Bourke-White/Irving Air Chute Company Buffalo N Y Testing Shroud Lines Caterpillar Club Sign In Back So Called Because Caterpillar Furnishes The Silk It Is Sponsored By The Company A Gold Pin Shaped Like A Caterpillar Being Given A Diamond Is Added For Each J##YAGXsYtcgrJZvg.jpg'
Error loading /Users/aarongordon/Downloads/art500k/Artists1/Carl Mydans/Valmontone Velletri##5QEXxZRFFKiGzw.jpg: cannot identify image file <_io.BytesIO object at 0x7fd9a28008b0>
Error loading /Users/aarongordon/Downloads/art500k/Artists1/Carl Mydans/With The 5Th Army In Italy##JwFGlC2Gs1s0sA.jpg: cannot identify image file <_io.BytesIO object at 0x7fd9c888e0e0>
Error loading /Users/aarongordon/Downloads/art500k/Artists1/Carl Mydans/Valmontone Velletri##2gHTkBGyT-82_A.jpg: cannot identify image file <_io.BytesIO object at 0x7fd9a28008b0>
Error loading /Users/aarongordon/Downloads/art500k/Artists1/Carl Mydans/Siena##EwHs5LwxI1W-hg.jpg: cannot identify image file <_io.BytesIO object at 0x7fd9c888e0e0>
Error loading /Users/aarongordon/Downloads/art500k/Artists1/Lee Balterman/Cincinnatti Bengals Q B Greg Cook##VQFXUNKs6qpojQ.jpg: cannot identify image file <_io.BytesIO object at 0x7fd9a28008b0>
Error loading /Users/aarongordon/Downloads/art500k/Artists1/Rai Cruz/Out Of The Box##iwFybT69N9L1jQ.jpg: cannot identify image file <_io.BytesIO object at 0x7fd9c888e0e0>
Error loading /Users/aarongordon/Downloads/art500k/Artists1/"Best / Ever".jpg: [Errno 2] No such file or directory: '/Users/aarongordon/Downloads/art500k/Artists1/"Best / Ever".jpg'
Error loading /Users/aarongordon/Downloads/art500k/Artists1/"Best / Ever".jpg: [Errno 2] No such file or directory: '/Users/aarongordon/Downloads/art500k/Artists1/"Best / Ever".jpg'
Error loading /Users/aarongordon/Downloads/art500k/Artists1/"Best / Ever".jpg: [Errno 2] No such file or directory: '/Users/aarongordon/Downloads/art500k/Artists1/"Best / Ever".jpg'
Error loading /Users/aarongordon/Downloads/art500k/Artists1/"Best / Ever".jpg: [Errno 2] No such file or directory: '/Users/aarongordon/Downloads/art500k/Artists1/"Best / Ever".jpg'
Error loading /Users/aarongordon/Downloads/art500k/Artists1/9eme Concept/Scratchpaper Rooftop Vincennes##PwEK1ciQnmnGkg.jpg: cannot identify image file <_io.BytesIO object at 0x7fd9a28008b0>
Error loading /Users/aarongordon/Downloads/art500k/Artists1/Zandra Rhodes/Knitted Circles And Rose Diamond Coat##5QGjDEb12iw2_Q.jpg: cannot identify image file <_io.BytesIO object at 0x7fd9c888e0e0>

In [ ]:
#debugging print
print(f"Missing files: {len(train_generator.missing_files)}")