In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [27]:
head_info = pd.read_csv(r'C:\Users\Jona\Desktop\Data Science\DS4440\Midterm\label_list\head_info.csv', delimiter=',')
head_info.head()

Empty DataFrame
Columns: [['author_name',  'painting_name',  'image_url',  'Genre',  'Style',  'Nationality',  'Painting School',  'Art Movement',  'Field',  'Date',  'Influenced by',  'Media',  'Influenced on',  'Family and Relatives',  'Tag',  'Pupils',  'Location',  'Original Title',  'Dimensions',  'Series',  'Teachers',  'Friends and Co-workers',  'Art institution',  'Period',  'Theme',  'Path']]
Index: []

[0 rows x 26 columns]

In [23]:
label_list = pd.read_csv(r'C:\Users\Jona\Desktop\Data Science\DS4440\Midterm\label_list\label_list.csv', delimiter='\t', header=None)
label_list.head()

C:\Users\Jona\AppData\Local\Temp\ipykernel_12200\1425079839.py:1: DtypeWarning: Columns (3,5,6,7,10,12,13,15,17,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  label_list = pd.read_csv(r'C:\Users\Jona\Desktop\Data Science\DS4440\Midterm\label_list\label_list.csv', delimiter='\t', header=None)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Gustave Courbet,Woman With A Parrot##AAHozJAL0gqXcA,http://lh3.googleusercontent.com/nPuY2uKye4csy...,NaN,NaN,NaN,NaN,NaN,Painting,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Artists1/Gustave Courbet/Woman With A Parrot##...
1,Auguste Rodin,La Tentation Saint Antoine##WAGC82imJTDyIg,http://lh3.googleusercontent.com/CgGN-xuGOgzBu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Acquis de Rodin Auguste en 1903 avec l'aide d...,NaN,NaN,Artists1/Auguste Rodin/La Tentation Saint Anto...
2,Frida Kahlo,Retrato De Alejandro Gómez Arias##0QFuguLe4xyN_A,http://lh3.googleusercontent.com/j-stBr_Q1mblB...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Artists1/Frida Kahlo/Retrato De Alejandro Góme...
3,Banksy,The Wall Banksy Balloons##FgHoVE-hmt6DBQ,http://lh4.ggpht.com/DajPMSanJJDk7gPghfEqoT5Ru...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,in a settlement in Palestine in the middle east,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Artists1/Banksy/The Wall Banksy Balloons##FgHo...
4,El Greco,The Visitation##HQEQ_qXDtRrzkA,http://lh4.ggpht.com/dYGuyZERVymx98N9Uw3KKvOU6...,NaN,NaN,NaN,NaN,NaN,Painting,ca. 1610-1614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Artists1/El Greco/The Visitation##HQEQ_qXDtRrz...

In [28]:
label_list.columns = head_info.columns
label_list.columns = label_list.columns.str.replace("'", "").str.replace("[", "").str.replace("]", "")
label_list.head()

,author_name,painting_name,image_url,Genre,Style,Nationality,Painting School,Art Movement,Field,Date,...,Location,Original Title,Dimensions,Series,Teachers,Friends and Co-workers,Art institution,Period,Theme,Path
0,Gustave Courbet,Woman With A Parrot##AAHozJAL0gqXcA,http://lh3.googleusercontent.com/nPuY2uKye4csy...,NaN,NaN,NaN,NaN,NaN,Painting,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Artists1/Gustave Courbet/Woman With A Parrot##...
1,Auguste Rodin,La Tentation Saint Antoine##WAGC82imJTDyIg,http://lh3.googleusercontent.com/CgGN-xuGOgzBu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Acquis de Rodin Auguste en 1903 avec l'aide d...,NaN,NaN,Artists1/Auguste Rodin/La Tentation Saint Anto...
2,Frida Kahlo,Retrato De Alejandro Gómez Arias##0QFuguLe4xyN_A,http://lh3.googleusercontent.com/j-stBr_Q1mblB...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Artists1/Frida Kahlo/Retrato De Alejandro Góme...
3,Banksy,The Wall Banksy Balloons##FgHoVE-hmt6DBQ,http://lh4.ggpht.com/DajPMSanJJDk7gPghfEqoT5Ru...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,in a settlement in Palestine in the middle east,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Artists1/Banksy/The Wall Banksy Balloons##FgHo...
4,El Greco,The Visitation##HQEQ_qXDtRrzkA,http://lh4.ggpht.com/dYGuyZERVymx98N9Uw3KKvOU6...,NaN,NaN,NaN,NaN,NaN,Painting,ca. 1610-1614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Artists1/El Greco/The Visitation##HQEQ_qXDtRrz...